
[stv-view-editor] { 
  display: flex;
  overflow: hidden;
  flex-direction: column;
  box-sizing: border-box;
  flex: 1;
}

[stv-editor-main] {
  overflow: hidden;
  flex: 1;
}

[stv-editor] {
  box-sizing: border-box;
  flex: 1;
  height: 100%;

  & > div {
    flex: 1;
    height: 100%;
  }
}

[stv-fileview] {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  font-size: 11px;
  padding: 3em;
  white-space: nowrap;
  height: fit-content;
}

/* TOOLBAR */

[stv-editor-toolbar] {
  border-bottom: 1px solid var(--mb-bordercol);
  height: 2.25em; min-height: 2.25em;
}

/* SIDEPANEL */

[stv-editor-sidepanel] {
  &.__stv-sidepanel-right { border-left: 1px solid var(--mb-bordercol); }
  &.__stv-sidepanel-left { border-right: 1px solid var(--mb-bordercol); }
  min-width: 256px;
  max-width: 256px;
  flex: 0;
}

/* VIEW */

.editor-icon > svg {
  margin: auto;
}

[data-editor-draggable] {
  position: absolute;
  
  width: 1.4em;
  height: 1.4em;
  max-width: 1.4em;
  max-height: 1.4em;

  padding: .1em;
  fill: #999;

  background-color: #333;
}

