
[stv-view-editor] { 
  position: relative;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  box-sizing: border-box;
  flex: 1;
}

[stv-editor-main] {
  overflow: hidden;
  flex: 1;
}

[stv-editor] {
  box-sizing: border-box;
  flex: 1;
  max-width: 100%;
  height: 100%;

  & > div {
    flex: 1;
    height: 100%;
  }
}

/* TOOLBAR */

[stv-editor-toolbar] {
  border-bottom: 1px solid var(--mb-bordercol);
  min-height: 32px;
  height: auto;

  display: flex;
  flex-wrap: nowrap;
  justify-content: start;

  & [stv-toolbar-section] {
    display: flex;
    margin-left: 0;
    gap: 0 4px;
    padding: 0 4px;
  }
}

/* SIDEPANEL */

[stv-editor-sidepanel] {
  &.__stv-sidepanel-right { border-left: 1px solid var(--mb-bordercol); }
  &.__stv-sidepanel-left { border-right: 1px solid var(--mb-bordercol); }
  flex-direction: column;
  min-width: 386px;
  max-width: 386px;
  flex: 0;
  
  & [stv-toolbar-section] {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 4px 4px;

    & > * {
      margin: 0;
    }
  }
  
  & [stv-sidepanel-row] {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    min-height: 24px;
    padding: 0 1em;
    gap: 4px;

    & > * {
      margin: auto 0;
    }
  }

  & [stv-toolbar-separator] {
    min-width: 100%;
    min-height: 2px;
    background: var(--mb-bordercol);
  }

  & select {
    width: 100%;
    
  }
}

/* VIS MODES */

/* -- vis_dev */

[stv-view-editor]:not([stv-editor-vis-dev]) {
  & [te-attr='_id'], .__stv_dnd_liveregion_editor { display:none }
}

[stv-editor-vis-dev] {

  & .__stv_dnd_liveregion_editor {
    position: absolute;

    width: 100%;
    height: 16px;

    top: auto;
    bottom: 0px;
    left: 4px;

    color: var(--tb-title-col);
    font-size: 12px
  }

}

/* -- vis_hover */

[stv-editor-vis-hover] {
  --hover-1-col: #46d782;
  --hover-2-col: #56b2c9;
  --hover-3-col: #368c4b;
  --hover-4-col: #764d3d;
}

[stv-editor-vis-hover] [te-base]:hover > [te-head] {
  outline: 1px solid var(--hover-4-col);
}

[stv-editor-vis-hover] [te-head]:hover:has([te-attr]:hover) {
  outline: 1px solid var(--hover-3-col);
}

[stv-editor-vis-hover] [te-base]:hover > [te-body]:not(:has( > [te-base]:hover)){
  outline: 1px solid var(--hover-2-col);
}

/* tail te-base hovered's head */
[stv-editor-vis-hover] [te-base]:hover > [te-head]:not(:has([te-attr]:hover)):not(:has( + [te-body] > [te-base]:hover)) {
  outline: 1px solid var(--hover-1-col);
  z-index: 512;
}

[stv-editor-vis-hover] [te-head]:hover, [stv-editor-vis-hover] [te-attr]:hover {
  outline: 1px solid var(--hover-1-col);
  z-index: 512;
}

/* VIEW */

.editor-icon > svg {
  margin: auto;
}

[stv-editor-dragger] {
  position: absolute;
  
  width: 1.4em;
  height: 1.4em;
  max-width: 1.4em;
  max-height: 1.4em;

  padding: .1em;
  fill: #999;

  background-color: #333;
}
