:root {

  --var-text-dimm: #606060;

  --var-background-light4: #eeeeee;
  --var-background-light3: #aaaaaa;
  --var-background-light2: #777777;
  --var-background-light: #444444;
  --var-background-mid: #333333;
  --var-background-subtle: #2a2a2a;
  --var-background-color: #222222;
  --var-background-dsubtle: #1e1e1e;
  --var-background-dmid: #1a1a1a;
  --var-background-dark: #121212;
  --var-background-dark2: #080808;

  --var-text-color: #aaa;
  --var-text-highlight-color: #50cd3a;

	--attr-width-default: 8em;

  --var-color-background: var(--var-background-color);
  --var-color-text: var(--var-text-color);

  --var-box-light: var(--var-background-light);
  --var-box-dark: var(--var-background-dark);
}

img { margin: 0; padding: 0; }

::selection { background: var(--var-background-light2); color:var(--var-background-dark2) }
img::selection { background: none }

div {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

table {
  margin: .5em;

  & thead {
    background: var(--var-background-dmid);
    font-weight: 700;
  }

  & tr:nth-child(odd){
    background: #00000017;
  }

  & td {
    min-width: 8em;
    padding: 0 .5em;
  }
}

/* page outer */

body > div {
	box-shadow: 2px 4px 16px var(--var-background-dark);
}

.module {
  border: 1px solid var(--var-background-light);
  padding: 1em;
  top: -.2em;
	z-index: 16;
	background: var(--var-background-color);
}

#header {
	position: sticky;
}

#header > .tools {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: .5em .5em; 

  & .toolshelf {
    display: flex; 
    gap: 0 .5em; 

    & .totalmatches { color: #e3e3e3; }
  }
}

.toolshelf, .minitools{
  display: flex; 
  gap: 0 .5em; 

  & .totalmatches { color: #e3e3e3; }
}

.tool {
  font-weight: bold;
  font-size: 1em;

  background-color: var(--var-background-dark);
  border: 1px solid var(--var-background-light);
  color: var(--var-background-light3);

  &.action {
    width: 2em;
  }

  &.toggle {
    width: 4em;
  }

  &:hover {
    background-color: #202020;
    border: 1px solid #777;
    box-shadow: 2px 4px 16px RGBA(64,64,64,0.3);
    color: var(--var-background-light4);
  }

  &.active { background-color: #333; color: #fff; }
}

.object > .__head > .minitools {
  display: none;
  height: 1.25em;
  width: auto;
  margin: auto 4em auto auto;
  & > .tool {
    font-size: .8em;
  }
}

.hidethumb .object > .__head > .minitools, .object.nothumb > .__head > .minitools {
  margin: -.1em 4em auto auto;
}

.object.__open:hover > .__head > .minitools {
  display: flex;
}

#content { 
  width: 95%;
  max-width: 120em;
  margin: 0 auto;
  padding: .5em;
  & > div { padding: .2em 1em; }
}

/* general containers */

.__indent > .__body { padding: .2em 1em; }

.block {

  border-top: 1px solid var(--var-background-light);
  border-bottom: 1px solid var(--var-background-dark);
  border-left: 2px solid var(--var-background-light);
  border-right: 2px solid var(--var-background-dark);

  box-shadow: -10px 3px 16px RGBA(0,0,0,0.23)
}

.object {
  margin-left: 2.5em;
  margin-right: 1.5em;
}

.__container, .__body {
  display: flex;
  flex-direction: column;
  gap: .25em 0;
}

.__container.object > div {
  padding: .25em 1em;
}

.__group.inline > div {
  margin: 0 1em;
}

.__body > p {
  margin: 0 1em;
}

.__group > .__head {
  background: var(--var-background-dmid)
}

.__group {
  padding-bottom: .5em;
  margin-bottom: .5em;
}

.__group:not(:last-child) {
  border-bottom: 1px solid var(--var-background-mid);
}

.__head {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  gap: 0 .5em;
}

.item > .__head, .item > .__body {
  padding: 0 1em;
}

.__head > * {
  margin: auto 0;
}

#content > .__head {
  flex-direction: column;
  gap: .25em 0;
}

/* general closables */

.__block { position: relative; }
.__block > .__body { display: none; }
.__block.__open:not(.locked) > .__body { display: flex; }

.__block > .__head {
  transition: background-color 0.125s linear;
  cursor: pointer;

  & > span { pointer-events: none; }
}

.__block:not(.locked) > .__head:hover {
  background-color: var(--var-background-mid);
}

.object.__block:not(.locked) {

  & > .__head::before {
    position: absolute;
    top: .4em;
    font-size: 1.5em; 
    border-radius: .4em 0 0 .4em; 
    margin-left: -2.0em;
    width: 1.35em;
    height: 1.2em;
    background-color: var(--var-background-light);
  }

  & > .__head:hover::before {
    background-color: var(--var-background-mid);
  }
}

.object.nothumb.__block:not(.locked) > .__head:before, .hidethumb .object.__block:not(.locked) > .__head:before, .object.hidethumb.__block:not(.locked) > .__head:before {
  top: 0;
  height: 1em;
  line-height: 1em;
}

.__block:not(.locked) > .__head:before {
  content:'+';
  font-weight: bold;
  text-align: center;
  color:#a6a6a6;
  padding-bottom: .15em;
}
.__block.__open:not(.locked) > .__head:before { content:'-'; }

.__block.inline.__open, .__opendev .__block {

  border-top: 1px solid var(--var-background-dark);
  border-bottom: 1px solid var(--var-background-light);
  border-left: 1px solid var(--var-background-dark);
  border-right: 1px solid var(--var-background-light);

  margin-bottom: .5em;
}

.__block.inline {
  margin-left: 1em;
  & > .__head { 
    margin-left: -1em;
  }
}

/* closable DEVELOPER classes */

.__block.__opendev > .__body, .__opendev .__block > .__body {
  display: flex !important;
}

.__block.__opendev > .__head, .__opendev .__block > .__head {
  background: #373030 !important;
}

.__opendev {
  border: 1px solid #a44 !important;
}

.__block.__opendev, .__opendev .__block {
  margin-bottom: .5em !important;
  & > .__head:before { 
    color: #a44 !important;
    content:'>' !important;
  }
}

/* general elements */

.field {
  display: flex;
  gap: 1em;
}

.item {
  width: 100%;
}

.right {
  margin-left: auto;
  margin-right: 0;
}

.space-line-small { 
  margin-left: 1em; 
  margin-right: 1em; 
  & > head {
    display: flex;  
    height: 1.4em;
  }
}

.separator {
  user-select: none;
  display: flex;
  width: 100%;
  min-height: 2em;

  & > * { margin: auto; }

  & > div {
    width: 100%; 
    height: 1px;
    border-top: 1px solid var(--var-background-light);
    border-bottom: 1px solid var(--var-background-dark);
  }

  & > span {
    text-wrap: nowrap;
    padding: 0 .5em; 
    font-size: 1em;
    color: var(--var-text-dimm); 
    text-shadow: 2px 1px 1px var(--var-background-dark2);
  }
}

.separator.thin {
  min-height: 1em;
}

.box {
  border-top: 1px solid var(--var-box-light);
  border-bottom: 1px solid var(--var-box-dark);
  border-left: 1px solid var(--var-box-light);
  border-right: 1px solid var(--var-box-dark);
}

.bgcolor {
  background-color: var(--var-color-background);
}

.attr.text.color, .box.color, .box.color .attr.text {
  color: var(--var-color-text);
  font-weight: 700;
}

.box{
  border-top: 1px solid var(--var-background-light);
  border-bottom: 1px solid var(--var-background-dark);
  border-left: 1px solid var(--var-background-light);
  border-right: 1px solid var(--var-background-dark);
}

.box.inset{
  border-top: 1px solid var(--var-background-dark);
  border-bottom: 1px solid var(--var-background-light);
  border-left: 1px solid var(--var-background-dark);
  border-right: 1px solid var(--var-background-light);
}

.box.info {
  --var-color-background: #e3d0671f;
  --var-color-text: #caa96a;
  --var-box-light: #fbed9e38;
  --var-box-dark: #ac9f5640;
}

/* attributes */

.attr { min-width: var(--attr-width-default); text-wrap: wrap; margin-top: 0}
.attr.empty { white-space: pre; opacity: 0.0;}

.attr.type { min-width: 3em; width: 3em; color:#606060; }
.attr.class { min-width: 6em; width: 6em; color:#dc60ad; font-weight: 700; }
.attr.name { color:#ccc; min-width: 12em; }
.attr.counter { color: #9694d7; min-width: 2em; }

.attr.text { color: #d3d3d3; display: block; pointer-events: auto; width: 100%; white-space: pre-wrap}
.attr.value { color:#bdd; }

.attr.comment { color:#a6c6c6; }
.attr.info, .info > .__head > .attr.text { color:#caa96a; }
.attr.desc { color:#828292; }

.attr.thumbnail { min-width:unset; line-height:0; }
.object:not(.locked) > .__head:hover > .attr.thumbnail > .thumb { filter: drop-shadow( 0px 0px 2px #eee ); }

.object > .__head > .attr.thumbnail > img { width:2.65em; line-height:0; }
.__container:not(.object) > .__head > .attr.thumbnail > img { width:1.35em; line-height:0; }

.object > .__head > .attr.name { padding-left: 1em; color: #10a0fe; }
.object.locked > .__head > .attr.name { color: #7d4242; }

.__container > .__head > .attr.name { font-weight: bold; }

.value > .__head > .attr.name, .attr.var { color:#a5cdf8; }

.attr.info::selection, .attr.desc::selection { background: #000; color:#ff0; }
.attr.error::selection { background: #000; color:#f00; }
.attr.missing::selection { background: #000; color:#f0f; }

.item:not(.nactive):not(.active) > .__head:hover { 
	background-color: var(--var-background-subtle);
}

/* modifiers */

.text-align-center { text-align: center; }

.float-left { float: left; }
.float-right { float: right; }

.attr.text {

  .highlight { color: var(--var-text-highlight-color) !important }
  .element { color: #6bdbac !important }
  .bold { font-weight: 700; }
  
}

/* color modifiers */

.tx-orange {
  color: #d27943 !important;
}

/* search queries */

.query {
  display: none
}

/* settings */

.hidetype .attr.type, .hidethumb .attr.thumbnail, .hideinfo .info, .hiderefs .reference { display: none; }