/* GLOBAL */

@font-face {
  font-family: "Title Font";
  src: url('./font/kode_mono/KodeMono-Bold.ttf') format("truetype");
}

@font-face {
  font-family: "Main Font";
  src: url('./font/sono/Sono-Variable.ttf') format("truetype");
}

@font-face {
  font-family: "File Font";
  src: url('./font/kode_mono/KodeMono-Regular.ttf') format("truetype");
}

html, button, input { font-family: Main Font, Consolas; }
#app-tb .app-tb-title { font-family: Title Font, Consolas; }
#fileview { font-family: File Font, Consolas, monospace; }

html, body, #react-root {
  box-sizing: border-box;
  overflow: hidden;
  width: 100vw;
  height: calc(100vh - 1px);
  margin: 0;
  padding: 0;
  backdrop-filter: blur(2px);
}

body {
  background: #111;
  border: 1px solid #444;
}

#react-root {
  display: flex;
  margin: auto;
  flex-direction: column;
}

.strevee-error {
  color: #f0f !important;
}

/* TOOLBARS */

[stv-toolbar] {

  user-select: none;

  position: relative;
  z-index: 1920;
  width: 100vw;

  font-size: 12px;
  color: var(--tb-col);
  background: var(--tb-bgcol);

  display: flex;
  justify-content: space-between;
  flex: 0;

  & [stv-toolbar-section] {
    display: flex;
    height: 100%;

    & > * {
      margin: auto 0;
    }
  }

  & [stv-toolbar-separator] {
    min-width: 2px;
    min-height: 100%;
    background: var(--mb-bordercol);
  }
  
  & button {
    color: var(--tb-col);
    background: var(--tb-bgcol);
    border: none;
    transition: background-color .075s linear;

    &:hover,&.active {
      color: var(--mi-col-hover);
      background: var(--mi-bgcol-hover);
      border-color: var(--mi-bordercol-hover);
    }
  }
}

/* TITLEBAR */

.__stv-titlebar {

  border-bottom: 1px solid var(--mb-bordercol);
  height: 1.5em;

  & .__stv-titlebar-title {
    font-size: 14px;
    width: 6.5em;
    background: var(--tb-title-bgcol);
    color:  var(--tb-title-col);
    text-align: center;
    line-height: 1.5em;
  }

  & button, .__stv_titlebar-menu > div {
    color: var(--tb-col);
    background: var(--tb-bgcol);
    border: none;
    height: calc(100% + 1px);
    border-bottom: 1px solid var(--mb-bordercol);
    margin-bottom: -1px;

    transition: background-color .075s linear;

    &:hover,&.active {
      color: var(--mi-col-hover);
      background: var(--mi-bgcol-hover);
      border-color: var(--mi-bordercol-hover);
    }
  }

  & .__stv-titlebar-dragger {
    flex: 1;
  }

  & .__stv_titlebar-menu {

    display: flex;
    color: var(--tb-col);
    background: var(--tb-bgcol);
    font-size: 12px;

    & > div {
      position: relative;
      padding: 0 .75em;
      display: flex;
      font-size: inherit;

      & * {
        pointer-events: none;
      }

      & > span:first-child { margin: auto; }
      & > span:nth-child(2) { display: none }
    }
  }

  & .__stv-titlebar-wincontrol {

    width: min-content;

    & > button > svg {
      stroke: var(--tb-col);
      pointer-events: none;
      width: 2em;
      height: inherit;
    }

    & > button:hover > svg {
      stroke: var(--mi-col-hover);
    }

    & > button#win-btn-close > svg {
      stroke: var(--mi-win_btn_close);
    }

    & > button#win-btn-close:hover > svg {
      stroke: var(--mi-win_btn_close-hover);
    }
  }
}

/* MENUS */

.strevee-menu.side-down {
  position: absolute;
  top: 100%;
  left: -.5em;
  min-width: 16em;
  width: auto;
}

.strevee-menu.side-right {
  position: absolute;
  margin-top: -1.8em;
  left: 100%;
  min-width: 16em;
  width: auto;
}

#strevee-contextmenu {
  position: fixed;
}

#strevee-contextmenu, .strevee-menu {

  user-select: none;

  display:flex;
  flex-direction: column;

  font-size: var(--mb-fontsize);

  color: var(--mb-col);
  background: var(--mb-bgcol);

  margin: 0;
  padding: .25em .25em;
  border: 1px solid var(--mb-bordercol);

  list-style-type: none;

  & .strevee-cb-mi-item {
    width: auto;
    display: flex;
    justify-content: space-between;
    height: 1.5em;
    padding: 0 .5em;
    line-height: 1.5em;

    text-wrap: nowrap;

    &:hover,&.active {
      color: var(--mi-col-hover);
      background: var(--mi-bgcol-hover);
    }
    
  }

  & .strevee-cb-mi-separator {
    width: 100%;
    height: 1px;
    background: var(--mb-bordercol);
    margin: .25em 0;
  }
}

/* APP */

#app {
  padding: 0;
  overflow: auto;
  width: 100%;
  height: 100%;
}

[stv-fileview] {
  font-size: 11px;
  white-space: nowrap; 
  padding: 3em;
  height: 100%;
}

/* UTILITY */

.__stv-row { display: flex; flex-direction: row; }
.__stv-row-inv { display: flex; flex-direction: row-reverse; }
.__stv-col { display: flex; flex-direction: column; }
.__stv-col-inv { display: flex; flex-direction: column-reverse; }
.__stv-flex-size { flex: 1; }

/* OVERLAYSCROLLBARS */

.os-theme-strevee {
  box-sizing: border-box;
  --os-size: 10px;
  --os-padding-perpendicular: 2px;
  --os-padding-axis: 2px;
  --os-track-border-radius: 0;
  --os-handle-interactive-area-offset: 4px;
  --os-handle-border-radius: 2px;
}