/* GLOBAL */

@font-face {
  font-family: "Title Font";
  src: url('./font/kode_mono/KodeMono-Bold.ttf') format("truetype");
}

@font-face {
  font-family: "Main Font";
  src: url('./font/sono/Sono-Variable.ttf') format("truetype");
}

@font-face {
  font-family: "File Font";
  src: url('./font/kode_mono/KodeMono-Regular.ttf') format("truetype");
}

html, button, input { font-family: Main Font, Consolas; }
#app-tb .app-tb-title { font-family: Title Font, Consolas; }
#fileview { font-family: File Font, Consolas, monospace; }

html, body {
  box-sizing: border-box;
  display:flex;
  flex-direction: column;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;

  user-select: none;
}

#react-root {
  box-sizing: border-box;
  overflow: hidden;
  min-width: 100%;
  min-height: 100%;
  flex: 0;
}

body {
  background: #111;
  border: 2px solid #444;
}

#react-root {
  display: flex;
  flex-direction: column;
}

.__stv-error {
  color: #f0f !important;
}

/* TOOLBARS */

[stv-toolbar] {

  position: relative;
  z-index: 1920;
  width: 100vw;

  font-size: 12px;
  color: var(--tb-col);
  background: var(--tb-bgcol);

  display: flex;
  flex: 0;

  & [stv-toolbar-section] {
    display: flex;
    height: 100%;

    & > * {
      margin: auto 0;
    }
  }

  & [stv-toolbar-separator] {
    min-width: 1px;
    min-height: 100%;
    background: var(--mb-bordercol);
  }

  & [stv-toolbar-button] {
    display: flex;
    min-width: 24px;
    height: 24px;

    background: var(--ti-bgcol);
    border: 1px solid var(--ti-bordercol);

    border-radius: 4px;

    &:not(:active) {

      &[stv-toolbar-disabled] {
        background: var(--ti-bgcol-disabled);
        color: var(--ti-col-disabled);
      }
  
      &:not([stv-toolbar-disabled]){
  
        &:hover {
          background: var(--ti-bgcol-hover);
          color: var(--ti-col-hover);
        }
        
        &[stv-toolbar-pressed] {
          background: var(--ti-bgcol-pressed);
          color: var(--ti-col-pressed);
        }
        
        &[stv-toolbar-pressed]:hover {
          background: var(--ti-bgcol-pressed-hover);
          color: var(--ti-col-pressed-hover);
        }
      }
    }

    &:active {
      background: var(--ti-bgcol-active);
      color: var(--ti-col-active);
    }

    & > span {
      margin: auto;
      width: min-content;
      padding: .25em;
    }
  }
  
  & [stv-toolbar-multibutton] {
    display: flex;
    height: 24px;
    border: 1px solid var(--ti-bordercol);
    background: var(--tmi-bordercol);

    border-radius: 4px;
    gap: 1px 1px;

    overflow: hidden;

    & > [stv-toolbar-button] {
      border: none;
      border-radius: 0;
    }
  }
  
  & button {
    color: var(--tb-col);
    background: var(--tb-bgcol);
    border: none;
    transition: background-color .075s linear;

    &:hover,&.active {
      color: var(--mi-col-hover);
      background: var(--mi-bgcol-hover);
      border-color: var(--mi-bordercol-hover);
    }
  }
  
  & select {
    color: var(--tb-col);
    background: var(--tb-bgcol);
    outline: none;
    border-radius: 4px;
    transition: background-color .075s linear;

    &:hover, &:has( option:hover) {
      color: var(--mi-col-hover);
      background: var(--mi-bgcol-hover);
      border-color: var(--mi-bordercol-hover);
    }
  }
}

[stv-toolbar-vertical] {
  
  & [stv-toolbar-section] {
    display: flex;
    flex-direction: column;
    width: 100%;

    & > * {
      margin: 0 auto;
    }
  }

  & [stv-toolbar-separator] {
    min-width: 100%;
    min-height: 2px;
    background: var(--mb-bordercol);
  }
}

/* TITLEBAR */

#__stv-titlebar {

  border-bottom: 1px solid var(--mb-bordercol);
  height: 1.5em;
  max-width: 100%;
  z-index: 16384;

  & [stv-titlebar-title] {
    font-size: 14px;
    width: 6.5em;
    background: var(--tb-title-bgcol);
    color:  var(--tb-title-col);
    text-align: center;
    line-height: 1.4em;
  }

  & button, [stv-titlebar-menu] > div {
    color: var(--tb-col);
    background: var(--tb-bgcol);
    border: none;
    height: calc(100% + 1px);
    border-bottom: 1px solid var(--mb-bordercol);
    margin-bottom: -1px;

    transition: background-color .075s linear;

    &:hover,&.__active {
      color: var(--mi-col-hover);
      background: var(--mi-bgcol-hover);
      border-color: var(--mi-bordercol-hover);
    }
  }

  & .__stv-titlebar-dragger {
    flex: 1;
  }

  & [stv-titlebar-menu] {

    display: flex;
    color: var(--tb-col);
    background: var(--tb-bgcol);
    font-size: 12px;
    margin: 0;

    & > div {
      position: relative;
      padding: 0 .75em;
      display: flex;
      font-size: inherit;

      & > span:first-child { margin: auto; }
      & > span:nth-child(2) { display: none }
    }
  }

  & .__stv-titlebar-wincontrol, .__stv-titlebar-buttons {

    width: min-content;

    & > button > svg {
      stroke: var(--tb-col);
      pointer-events: none;
      height: inherit;
    }

    & > button:hover > svg {
      stroke: var(--mi-col-hover);
    }
  
  }

  & .__stv-titlebar-buttons {

    margin-left: auto;

    & > button > svg {
      width: 1em;
    }

    & #svg-icon-theme-light {
      stroke: #fff;
    }

    & #svg-icon-theme-dark {
      fill: #555;
    }

    & > button#win-btn-theme > svg {
      stroke: var(--mi-win_btn_close);
    }
  }

  & .__stv-titlebar-wincontrol {

    & > button > svg {
      width: 2em;
    }

    & > button#win-btn-close > svg {
      stroke: var(--mi-win_btn_close);
    }

    & > button#win-btn-close:hover > svg {
      stroke: var(--mi-win_btn_close-hover);
    }
  }
}

/* MENUS */

[stv-dropdown-menu] {

  &.__open-d { opacity: 1.0; margin: 1.75em -.5em; }
  &.__open-r { opacity: 1.0; margin: 0em calc(100% - 1em); }
  &.__open-l { opacity: 1.0; margin: 0em calc(-3em); }
  &.__open-adapt { opacity: 1.0; margin: auto; min-width: 10em }
}

#strevee-contextmenu, [stv-dropdown-menu] {
  opacity: 0.0;
  pointer-events: all;

  position: absolute;
  min-width: 18em;

  display:flex;
  flex-direction: column;

  font-size: var(--mb-fontsize);

  color: var(--tb-col);
  background: var(--tb-bgcol);

  padding: .25em .25em;
  border: 1px solid var(--mb-bordercol);

  list-style-type: none;
  border-radius: .5em;

  box-shadow: .1em .3em 1em #000a;

  & [stv-menu-label] {
    width: auto;
    display: flex;
    justify-content: space-between;
    height: 1.75em;
    padding: 0 .5em;
    line-height: 1.75em;

    text-wrap: nowrap;
  }

  & [stv-menu-item] {
    width: auto;
    display: flex;
    justify-content: space-between;
    height: 1.75em;
    padding: 0 .5em;
    line-height: 1.75em;

    text-wrap: nowrap;

    & > *:not([stv-dropdown-menu]) {
      pointer-events: none;
    }

    &:not(.__disabled):hover,&.__active {
      color: var(--mi-col-hover);
      background: var(--mi-bgcol-hover);
    }
    
  }

  & .__disabled {
    color: var(--ti-bgcol-disabled)
  }

  & [stv-menu-separator] {
    width: 100%;
    height: 2px;
    background: var(--mb-bordercol);
    margin: .25em 0;
  }
}

/* FILEVIEW */

[stv-fileview] {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

[stv-fileview], .__stv-drag-container {
  box-sizing: border-box;
  font-size: 11px;
  white-space_: nowrap;
  height: fit-content;
}

[stv-fileview-content] {
  display: flex;
  flex-direction: column;
  padding: 2em 3em calc(100dvh - 9em) 1em;
}

/* STATUSBAR */

[stv-statusbar] {
  border-top: 1px solid var(--mb-bordercol);
  min-height: 1.5em;
  flex: 0;
  
  display: flex;
  flex-wrap: nowrap;
  justify-content: start;

  & [stv-toolbar-section] {
    display: flex;
    margin-left: 0;
    gap: 0 1em;
    padding: 0 2em;
  }

  & [stv-statusbar-item] {
    display: flex;
    gap: 0 .25em;
    flex-wrap: nowrap;
  }

  & span:first-child {
    color: var(--mi-col-hover)
  }

  & span {
    text-wrap: nowrap;
  }
}

/* APP */

#app {
  padding: 0;
  overflow: hidden;
  width: 100dvw;
  height: 100dvh;
}

/* SETTINGS */

[stv-view-settings] { 
  position: relative;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  box-sizing: border-box;
  flex: 1;
  padding: 1em;
}

.__stv-settings-container {
  color: var(--tb-col);
  background: var(--tb-bgcol);

  border: 1px solid var(--mb-bordercol);
  border-radius: .5em;
  flex: 1;

  padding: 3em;
  display: flex;
  flex-direction: column;
}

/* OVERLAYSCROLLBARS */

.os-theme-strevee {
  box-sizing: border-box;
  --os-size: 10px;
  --os-padding-perpendicular: 2px;
  --os-padding-axis: 2px;
  --os-track-border-radius: 0;
  --os-handle-interactive-area-offset: 4px;
  --os-handle-border-radius: 2px;
}

.os-scrollbar-vertical {
  margin: 2px 4px 2px 0;
}

.os-scrollbar-horizontal {
  margin: 4px 2px 0 2px;
}

/* DEBUG */

#DndLiveRegion-1 {
  width: 100% !important;
  height: 20px !important;
  clip: unset !important;
  clip-path: unset !important;
  color: #fff !important;

  z-index: 16384;
}