/* GLOBAL */

@font-face {
  font-family: "Title Font";
  src: url('./font/kode_mono/KodeMono-Bold.ttf') format("truetype");
}

@font-face {
  font-family: "Main Font";
  src: url('./font/sono/Sono-Variable.ttf') format("truetype");
}

@font-face {
  font-family: "File Font";
  src: url('./font/kode_mono/KodeMono-Regular.ttf') format("truetype");
}

html, button, input { font-family: Main Font, Consolas; }
#app-tb .app-tb-title { font-family: Title Font, Consolas; }
#fileview { font-family: File Font, Consolas, monospace; }

html, body {
  box-sizing: border-box;
  display:flex;
  flex-direction: column;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;

  user-select: none;
}

#react-root {
  box-sizing: border-box;
  overflow: hidden;
  min-width: 100%;
  min-height: 100%;
  flex: 0;
}

body {
  background: #111;
  border: 2px solid #444;
}

#react-root {
  display: flex;
  flex-direction: column;
}

.strevee-error {
  color: #f0f !important;
}

/* TOOLBARS */

[stv-toolbar] {

  position: relative;
  z-index: 1920;
  width: 100vw;

  font-size: 12px;
  color: var(--tb-col);
  background: var(--tb-bgcol);

  display: flex;
  flex: 0;

  & [stv-toolbar-section] {
    display: flex;
    height: 100%;

    & > * {
      margin: auto 0;
    }
  }

  & [stv-toolbar-separator] {
    min-width: 2px;
    min-height: 100%;
    background: var(--mb-bordercol);
  }

  & [stv-toolbar-button] {
    display: flex;
    min-width: 24px;
    height: 24px;

    background: var(--ti-bgcol);
    border: 1px solid var(--ti-bordercol);

    border-radius: 4px;

    &:not(:active) {

      &[stv-toolbar-disabled] {
        background: var(--ti-bgcol-disabled);
        color: var(--ti-col-disabled);
      }
  
      &:not([stv-toolbar-disabled]){
  
        &:hover {
          background: var(--ti-bgcol-hover);
          color: var(--ti-col-hover);
        }
        
        &[stv-toolbar-pressed] {
          background: var(--ti-bgcol-pressed);
          color: var(--ti-col-pressed);
        }
        
        &[stv-toolbar-pressed]:hover {
          background: var(--ti-bgcol-pressed-hover);
          color: var(--ti-col-pressed-hover);
        }
      }
    }

    &:active {
      background: var(--ti-bgcol-active);
      color: var(--ti-col-active);
    }

    & > span {
      margin: auto;
      width: min-content;
      padding: .25em;
    }
  }
  
  & [stv-toolbar-multibutton] {
    display: flex;
    height: 24px;
    border: 1px solid var(--ti-bordercol);
    background: var(--tmi-bordercol);

    border-radius: 4px;
    gap: 1px 1px;

    overflow: hidden;

    & > [stv-toolbar-button] {
      border: none;
      border-radius: 0;
    }
  }
  
  & button {
    color: var(--tb-col);
    background: var(--tb-bgcol);
    border: none;
    transition: background-color .075s linear;

    &:hover,&.active {
      color: var(--mi-col-hover);
      background: var(--mi-bgcol-hover);
      border-color: var(--mi-bordercol-hover);
    }
  }
  
  & select {
    color: var(--tb-col);
    background: var(--tb-bgcol);
    outline: none;
    border-radius: 4px;
    transition: background-color .075s linear;

    &:hover, &:has( option:hover) {
      color: var(--mi-col-hover);
      background: var(--mi-bgcol-hover);
      border-color: var(--mi-bordercol-hover);
    }
  }
}

[stv-toolbar-vertical] {
  
  & [stv-toolbar-section] {
    display: flex;
    flex-direction: column;
    width: 100%;

    & > * {
      margin: 0 auto;
    }
  }

  & [stv-toolbar-separator] {
    min-width: 100%;
    min-height: 2px;
    background: var(--mb-bordercol);
  }
}

/* TITLEBAR */

.__stv-titlebar {

  border-bottom: 1px solid var(--mb-bordercol);
  height: 1.5em;

  & .__stv-titlebar-title {
    font-size: 14px;
    width: 6.5em;
    background: var(--tb-title-bgcol);
    color:  var(--tb-title-col);
    text-align: center;
    line-height: 1.5em;
  }

  & button, .__stv_titlebar-menu > div {
    color: var(--tb-col);
    background: var(--tb-bgcol);
    border: none;
    height: calc(100% + 1px);
    border-bottom: 1px solid var(--mb-bordercol);
    margin-bottom: -1px;

    transition: background-color .075s linear;

    &:hover,&.active {
      color: var(--mi-col-hover);
      background: var(--mi-bgcol-hover);
      border-color: var(--mi-bordercol-hover);
    }
  }

  & .__stv-titlebar-dragger {
    flex: 1;
  }

  & .__stv_titlebar-menu {

    display: flex;
    color: var(--tb-col);
    background: var(--tb-bgcol);
    font-size: 12px;

    & > div {
      position: relative;
      padding: 0 .75em;
      display: flex;
      font-size: inherit;

      & * {
        pointer-events: none;
      }

      & > span:first-child { margin: auto; }
      & > span:nth-child(2) { display: none }
    }
  }

  & .__stv-titlebar-wincontrol {

    width: min-content;

    & > button > svg {
      stroke: var(--tb-col);
      pointer-events: none;
      width: 2em;
      height: inherit;
    }

    & > button:hover > svg {
      stroke: var(--mi-col-hover);
    }

    & > button#win-btn-close > svg {
      stroke: var(--mi-win_btn_close);
    }

    & > button#win-btn-close:hover > svg {
      stroke: var(--mi-win_btn_close-hover);
    }
  }
}

/* STATUSBAR */

[stv-statusbar] {
  border-top: 1px solid var(--mb-bordercol);
  min-height: 1.5em;
  flex: 0;
  
  display: flex;
  flex-wrap: nowrap;
  justify-content: start;

  & [stv-toolbar-section] {
    display: flex;
    margin-left: 0;
    gap: 0 1em;
    padding: 0 2em;
  }

  & [stv-statusbar-item] {
    display: flex;
    gap: 0 .25em;
    flex-wrap: nowrap;
  }

  & span:first-child {
    color: var(--mi-col-hover)
  }

  & span {
    text-wrap: nowrap;
  }
}

/* MENUS */

.strevee-menu.side-down {
  position: absolute;
  top: 100%;
  left: -.5em;
  min-width: 16em;
  width: auto;
}

.strevee-menu.side-right {
  position: absolute;
  margin-top: -1.8em;
  left: 100%;
  min-width: 16em;
  width: auto;
}

#strevee-contextmenu {
  position: fixed;
}

#strevee-contextmenu, .strevee-menu {

  display:flex;
  flex-direction: column;

  font-size: var(--mb-fontsize);

  color: var(--mb-col);
  background: var(--mb-bgcol);

  margin: 0;
  padding: .25em .25em;
  border: 1px solid var(--mb-bordercol);

  list-style-type: none;

  & .strevee-cb-mi-item {
    width: auto;
    display: flex;
    justify-content: space-between;
    height: 1.5em;
    padding: 0 .5em;
    line-height: 1.5em;

    text-wrap: nowrap;

    &:hover,&.active {
      color: var(--mi-col-hover);
      background: var(--mi-bgcol-hover);
    }
    
  }

  & .strevee-cb-mi-separator {
    width: 100%;
    height: 1px;
    background: var(--mb-bordercol);
    margin: .25em 0;
  }
}

[stv-fileview], .__stv-drag-container {
  box-sizing: border-box;
  font-size: 11px;
  white-space: nowrap;
  height: fit-content;
}

[stv-fileview] {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  min-height: 100%;
}

[stv-fileview]:not(:has([stv-fileview-empty])) {
  padding: 1em 3em 1em 1em;
}

/* APP */

#app {
  padding: 0;
  overflow: auto;
  width: 100%;
  height: 100%;
}

/* UTILITY */

.__stv-row { display: flex; flex-direction: row; }
.__stv-row-inv { display: flex; flex-direction: row-reverse; }
.__stv-col { display: flex; flex-direction: column; }
.__stv-col-inv { display: flex; flex-direction: column-reverse; }
.__stv-flex-size { flex: 1; }

.__stv-w100 { width: 100%; }
.__stv-h100 { height: 100%; }

/* OVERLAYSCROLLBARS */

.os-theme-strevee {
  box-sizing: border-box;
  --os-size: 10px;
  --os-padding-perpendicular: 2px;
  --os-padding-axis: 2px;
  --os-track-border-radius: 0;
  --os-handle-interactive-area-offset: 4px;
  --os-handle-border-radius: 2px;
}

.os-scrollbar-vertical {
  margin: 2px 4px 2px 0;
}

/* DEBUG */

#DndLiveRegion-1 {
  width: 100% !important;
  height: 20px !important;
  clip: unset !important;
  clip-path: unset !important;
  color: #fff !important;

  z-index: 16384;
}