:root, .app-theme-light {

  --body-bgcol: #e7e7e7;

  /* toolbar */

  --tb-col: #222;
  --tb-bgcol: #ddd;
  
  --ti-bordercol: #999;

  --ti-col-hover: #ddd;
  --ti-bgcol-hover: #888;

  --ti-col-active: #ddd;
  --ti-bgcol-active: #171717;
  
  --ti-col-disabled: #373737;
  --ti-bgcol-disabled: #272727;

  /* tabrow */

  --tr-bgcol: #999;
  --tab-bgcol: #ddd;
  --tab-bgcol-hover: #ddd;
  --tab-bgcol-active: #eee;

  /* titlebar */

  --tb-title-col: #222;
  --tb-title-bgcol: #bbb;

  /* menubar */

  --mb-col: #222;
  --mb-bordercol: #999;

  --mi-col-hover: #ddd;
  --mi-bgcol-hover: #888;
  --mi-bordercol-hover: #eee;

  --mi-win_btn_close: #c55;
  --mi-win_btn_close-hover: #faa;

  /* file */

  --fv-col: #222;
  --fv-bgcol: #ccc;

  /* scrollbars */

  & .os-theme-strevee {
    --os-handle-bg: #999;
    --os-handle-bg-hover: #888;
    --os-handle-bg-active: #555;
  }
}

.app-theme-dark {

  --body-bgcol: #111;

  /* toolbar */

  --tb-col: #777;
  --tb-bgcol: #222;
  
  --ti-bgcol: #272727;
  --ti-bordercol: #202020;
  
  --ti-col-disabled: #474747;
  --ti-bgcol-disabled: #303030;

  --ti-col-pressed: #999;
  --ti-bgcol-pressed: #1a1a1a;

  --ti-col-active: #ddd;
  --ti-bgcol-active: #171717;

  --ti-col-hover: #aaa;
  --ti-bgcol-hover: #444;
  --ti-col-pressed-hover: #bbb;
  --ti-bgcol-pressed-hover: #202020;
  
  --tmi-bordercol: #303030;

  /* tabrow */

  --tr-bgcol: #111;
  --tab-bgcol: #171717;
  --tab-col: #676767;
  --tab-bgcol-hover: #222;
  --tab-col-active: #969696;
  --tab-bgcol-active: #272727;

  /* titlebar */

  --tb-title-col: #aaa;
  --tb-title-bgcol: #2a2a2a;

  /* menubar */

  --mb-bordercol: #333;

  --mi-col-hover: #aaa;
  --mi-bgcol-hover: #444;
  --mi-bordercol-hover: #aaa;

  --mi-win_btn_close: #866;
  --mi-win_btn_close-hover: #e88;

  /* file */

  --fv-col: #aaa;
  --fv-bgcol: #1a1a1a;

  --fv-emptybgcol: #141414;

  /* document default theme */

  --attr-_id-col: #a03030;
  --attr-_id-bg: none;

  --attr-_type-col: #606060;
  --attr-_type-bg: none;

  /* scrollbars */

  & .os-theme-strevee {
    --os-handle-bg: #333;
    --os-handle-bg-hover: #444;
    --os-handle-bg-active: #777;
  }
}