# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
.env
.vite/
*.local

# Editor directories and files
.cache/
.vscode/
build
build_*
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

#custom dev
.typed
.dev/
_pyenv
output
**/__pycache__/

# not yet
pack/plugins
*.tre